<div class="navbar">
  <nz-layout class="navbar">
  
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <app-estudiante-navbar></app-estudiante-navbar>
    </nz-sider>

    <nz-layout class="navbar">
      <nz-header class="flex items-center justify-between">
              <span
              class="trigger"
              nz-icon
              [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              (click)="isCollapsed = !isCollapsed"
            ></span>
    
            <div style="margin-right: 40px;">
              <app-index-dropdown></app-index-dropdown>
            </div>

      </nz-header>

      <nz-content>

        <router-outlet></router-outlet>

      </nz-content>

    </nz-layout>
  </nz-layout>
</div>

